<!-- <div style="margin-top: 2em; margin-bottom: 1em; display: flex; justify-content:space-around;">
  <div style="width: 100%; display: flex; align-items: center;">
    <i class="material-icons " style="color: gray;">search</i>
  <input style="border: 1px solid gray; border-radius: 10px; width: 20%;" type="text" name="" id="" [(ngModel)]="searchValue" placeholder="Search...">
</div>
  <div style="display: flex; align-items: center; width: 100%;">
    <label>
     Search by Death
    </label>
    <select 
    style="width: 20%; border-radius: 10px; border: 1px solid gray; margin-left: 1em;"
      (ngModelChange)="passValue($event)"
      [(ngModel)]="value"
    >
    <option></option>
    <option *ngFor="let death of deaths" [value]="death">
      {{ death }}
    </option>
    </select>

  </div>
  <div style="display: flex; align-items: center; width: 100%;">
    <label>
     Search by Record
    </label>
    <select 
    style="width: 20%; border-radius: 10px; border: 1px solid gray; margin-left: 1em;"
      (ngModelChange)="recordValue($event)"
      [(ngModel)]="valueRecord"
    >
    <option></option>
    <option *ngFor="let record of recoverds" [value]="record">
      {{ record }}
    </option>
    </select>

  </div>
</div>
<table
class="table table-striped"
  border="2"
  style="max-width: 100%; white-space: nowrap; border-collapse: collapse"
>
  <col *ngFor="let header of headers" style="width: 400px" />
  <thead>
    <tr>
      <th style="width: 500px" *ngFor="let header of headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of searchData | filter:searchValue | paginate :{id:'listing_pagination',
    itemsPerPage:10,
    currentPage:page,
    totalItems:totalRecords }" >
      <td class="cellStyle">{{ data.date }}</td>
      <td class="cellStyle">{{ data.dateChecked }}</td>
      <td class="cellStyle">{{ data.death }}</td>
      <td class="cellStyle">{{ data.deathIncrease }}</td>
      <td class="cellStyle">{{ data.hospitalized }}</td>
      <td class="cellStyle">{{ data.hospitalizedCumulative }}</td>
      <td class="cellStyle">{{ data.hospitalizedCurrently }}</td>
      <td class="cellStyle">{{ data.hospitalizedIncrease }}</td>
      <td class="cellStyle">{{ data.inIcuCumulative }}</td>
      <td class="cellStyle">{{ data.inIcuCurrently }}</td>
      <td class="cellStyle">{{ data.lastModified }}</td>
      <td class="cellStyle">{{ data.negative }}</td>
      <td class="cellStyle">{{ data.negativeIncrease }}</td>
      <td class="cellStyle">{{ data.onVentilatorCumulative }}</td>
      <td class="cellStyle">{{ data.onVentilatorCurrently }}</td>
      <td class="cellStyle">{{ data.pending }}</td>
      <td class="cellStyle">{{ data.posNeg }}</td>
      <td class="cellStyle">{{ data.positive }}</td>
      <td class="cellStyle">{{ data.positiveIncrease }}</td>
      <td class="cellStyle">{{ data.recovered }}</td>
      <td class="cellStyle">{{ data.states }}</td>
      <td class="cellStyle">{{ data.total }}</td>
      <td class="cellStyle">{{ data.totalTestResults }}</td>
      <td class="cellStyle">{{ data.totalTestResultsIncrease }}</td>
  
    </tr>
  </tbody>
</table>

<div>
  <pagination-controls id="listing_pagination" [maxSize]='5' (pageChange)="page=$event">
 
  </pagination-controls>
</div> -->


<router-outlet></router-outlet>