.header{
    padding-right: 1em;
    border: 1px solid gray;
    font-weight: bold;
}

.cellStyle {
    padding-right: .5em;
    padding-right: .5em;
}

.dIcon{
    color: red;
}

.dIcon:hover{
    cursor: pointer;
}

.eIcon{
    color:green;
}

.eIcon:hover{
    cursor: pointer;
}