.select{
    width: 20%;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 1em;
  
}

.logout{
    border: 1px solid gray;
    border-radius: 10px;
    width: 120px;
    background-color: white;
}

.logout:hover{
    background-color: tomato;
}